:root {
    --brat: #89CC04;
    --yellow: #FFD700;
    --pink: #ff1493;
    --pink-light: #ff00ff;
    --purple: #8a2be2;
    --blue-deep: rgb(0, 35, 139);
    --blue: #1493ff;
    --blue-light: #87CEEB;
    --primary-font: 'Trebuchet MS', sans-serif;
    --secondary-font: 'Tahoma', sans-serif;
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.background-primary {
    background-color: var(--primary-color);
}

.background-secondary {
    background-color: var(--secondary-color);
}

.bg-brat {
    background-color: var(--brat);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-pink-light {
    background-color: var(--pink-light);
}

.bg-purple {
    background-color: var(--purple);
}

.bg-blue-deep {
    background-color: var(--blue-deep);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-blue-light {
    background-color: var(--blue-light);
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

button {
    background: linear-gradient(to bottom, #e0e0e0, #c0c0c0);
    border: 2px solid #808080;
    padding: 5px 10px;
    font-family: 'Tahoma', sans-serif;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #808080;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(to bottom, #f0f0f0, #d0d0d0);
}

.profundity {
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    box-shadow: 0px 4px 8px gray;
}